aniso8601
brotlipy
certifi
cffi
click
dataclasses
Flask
Flask-Cors
Flask-RESTful
greenlet
gunicorn
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
mysqlclient
pycparser
python-dateutil
pytz
six
SQLAlchemy
typing-extensions
Werkzeug
WTForms
zipp
